		<div class="item nav-item">
			<%= render 'shared/image_upload', object: @image %>
		</div>
	<% @allimages.each do |i| %>
		<div class="item <%= i.tag.title.downcase %>">
			<%= image_tag(i.img.url, :alt => i.tag.title) %>
		</div>
	<% end %>



