
html, body { height: 100%;}

// #sidebar { 
// 	background: red;
// 	height: 100%;
// 	width: 150px; 
// 	padding: 20px;
// }

.nav-item .nav { 
	color: white;
	background: #181818;
	width: 95%;
	padding: 10px 0;
	margin: 10px auto;
	font-size: 12px;
	.user-greet { margin-left: 10px;}
	a {
		background: rgba(255,255,255,0.2);
		padding: 5px;
		border-radius: 5px;
		text-decoration: none;
		display: inline-block;
		font-weight: bold;
		text-align: center;
		&.logout {
			float: right;
			margin-right: 10px;
		}
		&:hover {
			background: rgba(255,255,255,0.4);
		}		
	}
	&.back {
		margin-left: 10px;
		display: block;
		background: #464646;
		border-radius: 5px;
		margin: 0 auto;
		text-align: center;
		text-decoration: none;
		&:hover {
			background: rgba(255,255,255,0.4);
		}
	}

}


 .image-upload { 
 	width: 95%;
 	padding: 10px 0 0; 
 	margin: 10px auto;
 }

 #image_img { 
 	width: 65%; 
 	margin-top: 20px; 
 	font-size: 12px; 
 	color: white;
 	
 }

 #image_tag_id { 
 	width: 80%; 
 	margin-bottom: 20px;
 }

 .image-upload {
 	background: #181818;
 	text-align: center;
 	.tagselect { width: 80%; margin: 0 auto; background: #111111; padding: 10px; box-sizing: border-box; border-radius: 10px;}
 	h4 { 
 		text-transform: uppercase; 
 		color: #ccc; 
 		font-weight: 500; 
 		font-size: 14px;
 		margin-bottom: 5px;
 	}
 	label {
		background: #ccc;
		border-radius: 5px;
		width: 100%;
		margin: 0 auto 10px;
		font-size: 12px;
		padding: 10px 0;
		font-weight: bold;
		&:hover {
			background: #fff;
			cursor: pointer;
		}
		&:last-child { margin-bottom: 0px; }
	}



 	input { 
 		width: 80% ;
 		&[type="radio"] {
		 	position: absolute;
		 	opacity: 0;
		 	z-index: -9999;
		 	&:checked + label {
		 		background: #A1632C;	
 				color: white;
		 	}
		}
		&[type="submit"] {
			margin-top: 20px;
			border-radius: 5px;
			&:hover {
				background: white;
				cursor: pointer;
			}
		}
 	}





 }



 .item-options {
 	position: absolute;
 	background: rgba(255,255,255,0.5);
 	border-radius: 5px;
 	padding: 5px;
 	opacity: 0;
 	transition: opacity .25s ease-in-out;
 	-webkit-transition: opacity .25s ease-in-out;
 	color: black;
 	text-decoration: none;

 	&:hover {
 		background: #fff;
 		-webkit-transition: opacity 1s ease-in-out;
 	}

 	&.like {
 		left: 10px;
 		top: 10px;
 		background: none;
 		background: image_url('hearts.png') no-repeat;
 		width: 23px;
 		height: 23px;
 		padding: 0;
 		&:hover {
 			background-position: -23px 0;
 		}
 	}

 	&.tag-type {
 		right: 10px;
 		top: 10px;
 		font-size: 12px;
 	}

 	&.item-user {
 		right: 10px;
 		top: none;
 		bottom: 15px;
 		font-size: 12px;
 	}
 }

 .item:hover .item-options {
 	opacity: 1;
 }

 .item.item-liked .item-options.like {
 	background-position: -46px 0;
 	opacity: 1;
 }


.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}



.nav-item .tag-ranks { padding: 10px 0 3px; background: #181818; width: 95%; margin: 10px auto;}
.progressbar { 
	position: relative; 
	box-sizing: border-box; 
	width: 90%; 
	height: 30px; 
	margin: 0 auto; 
	margin-bottom: 10px; 	
	padding: 5px 6px;
	border-radius: 22px;

	.progress {
		position: relative; 
		width: 40%; 
		height: 10px;
		background: rgba(255,255,255,0.5); 
		z-index: 999;  
		border-radius: 10px; 
	}

	.background {
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;

		div {
			height: 20px;
			z-index: 1;
			position: absolute;
		}

		.nomedal {
			width: 15%;
			background: #222;
			border-radius: 20px 0 0 20px;
		}
		.bronze {
			margin-left: 15%;
			width: 25%;
			background: #935644;
		}
		.silver {
			margin-left: 40%;
			width: 52%;
			background: #626365;
		}
		.gold {
			margin-left: 92%;
			width: 8%;
			background: #A1632C;
			border-radius: 0 20px 20px 0;
		}

	}
}


.nav-item.user-ranks {
	margin: 10px 0;
	font-weight: bold;
	text-align: center;	
	.username {
		margin: 8px auto 15px;
		color: white;
	}
	.trophy-chest {
		.tag-show {
			border-radius: 20px;
			margin: 0 5px 10px;
			color: white;
			padding: 10px;
			display: inline-block;
			font-size: 12px;
			&.bronze {
				background: #BC864F; 
				border: 5px solid #935644;
				color: #834634;
			}
			&.silver {
				background: #9296A3;
				border: 5px solid #626365;
				color: #525355;
			}
			&.gold {
				background: #D3A45C;
				border: 5px solid #A1632C;
				color: #91531C;
			}
		}
	}
}

.newpoint {
	border-radius: 50px;
	background: yellow;
	color: black;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	padding-top: 3px;
	width: 23px;
	height: 20px;
	margin: 0;
	position: absolute;
	z-index: 9999999;
}


h3.progressheader {
		font-weight: 500;
		letter-spacing: 1px;
		color: #333;
		text-transform: uppercase;
		width: 88%;
		margin: 0 auto 2px;
		font-size: 16px;

		&.gold { color: #A1632C; font-weight: 800; }
		&.silver { color: #727375; font-weight: 500; }
		&.bronze { color: #935644; font-weight: 500; }
	}

