
html, body { height: 100%; }
// #sidebar { 
// 	background: red;
// 	height: 100%;
// 	width: 150px; 
// 	padding: 20px;
// }

.nav-item { background: blue; text-align: center}
.nav-item a {
	display: block;
	width: 100%;
	text-align: center;
	padding: 20px 0;
	background: red;
 }

 .image-upload { width: 100%;}

 .image-upload { padding: 0; margin: 0;}

 #image_img { width: 60%; margin-top: 20px; font-size: 14px; padding: 10px;}
 #image_tag_id { width: 80%; margin-bottom: 20px;}

 .image-upload input { width: 80% ;}

 .image-upload input[type="radio"] {
 	position: absolute;
 	opacity: 0;
 	z-index: -9999;
 }

.image-upload label {
	background: #eee;
	border-radius: 5px;
	width: 50%;
	margin: 0 auto 10px;
	font-size: 12px;
	padding: 10px 0;
}

  .image-upload input[type="submit"] {
 	margin-top: 20px;
 }