<div class="confirm-upload">Image successfully uploaded to <strong><%= @image.tag.title %></strong></div>

<script type="text/javascript">

$(function() {
	window.location.href = "/home";
});

</script>